In [3]:
import pandas as pd
from vega_datasets import data

In [5]:
data.list_datasets()

['7zip',
 'airports',
 'anscombe',
 'barley',
 'birdstrikes',
 'budget',
 'budgets',
 'burtin',
 'cars',
 'climate',
 'co2-concentration',
 'countries',
 'crimea',
 'disasters',
 'driving',
 'earthquakes',
 'ffox',
 'flare',
 'flare-dependencies',
 'flights-10k',
 'flights-200k',
 'flights-20k',
 'flights-2k',
 'flights-3m',
 'flights-5k',
 'flights-airport',
 'gapminder',
 'gapminder-health-income',
 'gimp',
 'github',
 'graticule',
 'income',
 'iowa-electricity',
 'iris',
 'jobs',
 'la-riots',
 'londonBoroughs',
 'londonCentroids',
 'londonTubeLines',
 'lookup_groups',
 'lookup_people',
 'miserables',
 'monarchs',
 'movies',
 'normal-2d',
 'obesity',
 'points',
 'population',
 'population_engineers_hurricanes',
 'seattle-temps',
 'seattle-weather',
 'sf-temps',
 'sp500',
 'stocks',
 'udistrict',
 'unemployment',
 'unemployment-across-industries',
 'us-10m',
 'us-employment',
 'us-state-capitals',
 'weather',
 'weball26',
 'wheat',
 'world-110m',
 'zipcodes']

In [52]:
flights = data.flights_2k()
import numpy as np
flights.shape[0]

flights['new col'] = np.arange(2000,0,-1)

In [51]:
flights.head()

,date,delay,destination,distance,origin,new col
0,2001-01-14 21:55:00,0,SMF,480,SAN,[2000 1999 1998 ... 3 2 1]
1,2001-03-26 20:15:00,-11,SLC,507,PHX,[2000 1999 1998 ... 3 2 1]
2,2001-03-05 14:55:00,-3,LAX,714,ELP,[2000 1999 1998 ... 3 2 1]
3,2001-01-07 12:30:00,12,SNA,342,SJC,[2000 1999 1998 ... 3 2 1]
4,2001-01-18 12:00:00,2,LAX,373,SMF,[2000 1999 1998 ... 3 2 1]

In [10]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
date           2000 non-null datetime64[ns]
delay          2000 non-null int64
destination    2000 non-null object
distance       2000 non-null int64
origin         2000 non-null object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 78.2+ KB

In [12]:
flights.describe()

             delay     distance
count  2000.000000  2000.000000
mean      8.027500   496.843500
std      24.728657   352.533469
min     -33.000000   108.000000
25%      -5.000000   283.000000
50%       0.000000   366.000000
75%      12.000000   590.000000
max     250.000000  2277.000000

In [13]:
next(flights.iterrows())

(0, date           2001-01-14 21:55:00
 delay                            0
 destination                    SMF
 distance                       480
 origin                         SAN
 Name: 0, dtype: object)

In [14]:
type(next(flights.iterrows()))

tuple

In [17]:
next(flights.iterrows())[1]

date           2001-01-14 21:55:00
delay                            0
destination                    SMF
distance                       480
origin                         SAN
Name: 0, dtype: object

In [56]:
for index, row in flights.iterrows():
    #print('row',index)
    if(index+10 < flights.shape[0]):
        nindex = index+10 
    else:
        nindex = nindex
            
    flights.at[nindex, "new col"] = index
    #print(row)
flights.tail(20)

                    date  delay destination  distance origin  new col
1980 2001-02-15 06:30:00     -5         SAT       192    HOU     1970
1981 2001-02-13 20:08:00     78         LAX      1814    IND     1971
1982 2001-02-08 16:30:00      4         PDX       344    BOI     1972
1983 2001-03-25 18:03:00     66         SAN       446    OAK     1973
1984 2001-03-05 07:45:00     -1         LBB       293    DAL     1974
1985 2001-03-31 08:40:00    -12         MHT       377    BWI     1975
1986 2001-03-04 08:35:00      5         PHX       646    OAK     1976
1987 2001-01-26 18:15:00     29         BUR       358    SMF     1977
1988 2001-02-11 15:55:00      4         DAL       189    AUS     1978
1989 2001-01-29 16:05:00      7         MDW       765    ISP     1979
1990 2001-03-26 10:35:00      0         PHX       304    SAN     1980
1991 2001-01-18 17:22:00     17         SMF       480    SAN     1981
1992 2001-02-20 08:00:00     -3         ABQ       289    LBB     1982
1993 2001-03-19 19:40:00      0         MDW       937    HOU     1983
1994 2001-01-19 21:47:00      2         LAS       256    PHX     1984
1995 2001-02-14 15:45:00    -10         IAH       217    DAL     1985
1996 2001-03-02 20:30:00      3         HOU       239    DAL     1986
1997 2001-02-12 06:20:00     -6         BWI       283    BDL     1987
1998 2001-01-02 16:18:00     30         PHX       256    LAS     1988
1999 2001-02-05 06:20:00     -3         BWI       283    BDL     1999

In [26]:
col_list = list(flights.columns)
col_list

['date', 'delay', 'destination', 'distance', 'origin']

In [35]:
for index, row in flights.head(2).iterrows():
    if index == 0:
        print('\t' ,*col_list,sep='\t')
    print(index ,'\t' , row['date'] ,'\t' , row['origin'] , '\t' ,row['destination'], '\t' ,row['distance'] ,'\t' , row['delay'])

		date	delay	destination	distance	origin
0 	 2001-01-14 21:55:00 	 SAN 	 SMF 	 480 	 0
1 	 2001-03-26 20:15:00 	 PHX 	 SLC 	 507 	 -11

In [36]:
for row in flights.head().itertuples():
    print(row)

Pandas(Index=0, date=Timestamp('2001-01-14 21:55:00'), delay=0, destination='SMF', distance=480, origin='SAN')
Pandas(Index=1, date=Timestamp('2001-03-26 20:15:00'), delay=-11, destination='SLC', distance=507, origin='PHX')
Pandas(Index=2, date=Timestamp('2001-03-05 14:55:00'), delay=-3, destination='LAX', distance=714, origin='ELP')
Pandas(Index=3, date=Timestamp('2001-01-07 12:30:00'), delay=12, destination='SNA', distance=342, origin='SJC')
Pandas(Index=4, date=Timestamp('2001-01-18 12:00:00'), delay=2, destination='LAX', distance=373, origin='SMF')