In [1]:
x = 3
print(x) if x < 2 else print(x*x)

9

In [3]:
 [x if x%2 else x*100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [6]:
[x  for x in range(1,20)if x%2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
[x  for x in range(1,20)if x%2 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

x if y else z is the syntax for the expression you're returning for each element. Thus you need:

[ x if x%2 else x*100 for x in range(1, 10) ]
The confusion arises from the fact you're using a filter in the first example, but not in the second. In the second example you're only mapping each value to another, using a ternary-operator expression.

With a filter, you need:

[ EXP for x in seq if COND ]
Without a filter you need:

[ EXP for x in seq ]
and in your second example, the expression is a "complex" one, which happens to involve an if-else.

In [9]:
import pandas as pd
import numpy as np

In [12]:
df = pd.DataFrame({'a': np.arange(0,110,10)})

In [13]:
df

      a
0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
10  100

In [14]:
df['b'] = df['a'].apply(lambda x : x if (x/10)%2 else x*100)

In [15]:
df

      a      b
0     0      0
1    10     10
2    20   2000
3    30     30
4    40   4000
5    50     50
6    60   6000
7    70     70
8    80   8000
9    90     90
10  100  10000

In [16]:
age = 15
'kid' if age < 13 else 'teen' if age < 18 else 'adult'

'teen'

In [17]:
age = 11
'kid' if age < 13 else 'teen' if age < 18 else 'adult'

'kid'

In [18]:
age = 75
'kid' if age < 13 else 'teen' if age < 18 else 'adult'

'adult'

In [19]:
# <expression1> if <condition> else <expression2>